/* set custom font */
:root {
  --progress-width: 150px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

/* update background and font colors */
body {
  background-color: #f8f8f8;
  color: #1c1c1e;
}

/* header */
header {
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

header h1 {
  font-weight: 600;
  font-size: 32px;
}

/* habit form */
.form-control {
  border: none;
  border-bottom: 2px solid #2aa8d0;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #2aa8d0;
}

.form-control::-webkit-input-placeholder {
  font-size: 14px;
}

/* habit list */

.habits-container {
  max-width: 50%;
  margin: 0 auto;
  color: #333;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.add-habit-form {
  margin-bottom: 20px;
}

.add-habit-form label {
  font-weight: bold;
}

.add-habit-btn {
  margin-left: 10px;
}
.habit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.progress-container {
  width: 100px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #e91e63;
  width: var(--progress-width);
  transition: width 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.habit-left h4 {
  margin-bottom: 0;
}

.habit-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.habit-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fa-trash {
  cursor: pointer;
  color: #e91e63;
  font-size: 30px;
}

.fa-trash:hover {
  color: #333;
}

.week-btn {
  text-decoration: none;
  cursor: pointer;
  background-color: #2aa8d0;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 25px;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
}
.week-view-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 1em auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.btn-container {
  position: absolute;
  left: 0;
}

.days-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.day-container {
  height: auto;
  width: auto;
  background-color: #dadada;
  border-radius: 10px;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.day-container:hover {
  background-color: #777777;
}

.day-container i {
  font-size: 1.2rem;
  margin: 0 5px;
  cursor: pointer;
}

.day-container i.active {
  color: #2aa8d0;
  font-size: 1.5rem;
}
